
$width-media-small: 420px;
$width-media-narrow: 540px;
$width-media-medium: 740px;
$width-media-standard: 840px;
$width-media-large: 1020px;
$width-media-wide: 1400px;
$width-media-stupid: 1800px;

html {

    height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {

	box-sizing: inherit;
}

img {

    max-width: 100%;
}


body {

    min-height: 100%;
    display: flex;
    flex-direction: column;
}

footer.main {

    padding: 1rem 0;
}

.container {

    @include width-container-wide;
}

section.content {

    br {

        @media (max-width: $width-media-small - 1) {

            display: none;
        }
    }

    .container {

        @include width-container-tight;
    }
}

article.page {

    header.page {

        padding: 4rem 0;
        text-align: center;

        h1 {

            margin-top: 0;
            margin-bottom: 0;
        }

        h2 {

            margin-top: 1rem;
            margin-bottom: 0;
        }
    }

    aside.page {

        padding: 1rem 0;
        text-align: center;
    }

    section.page {

        padding: 1px 0; // hack to engulf child margins

        header.section {

            padding: 1rem 0;

            h1 {

                margin-top: 0;
                margin-bottom: 0;
            }

            h2 {

                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }

    footer.end.page {

        .container {

            @include width-container-tight;
            padding-top: 1px;
            padding-bottom: 1px;
        }

        text-align: center;
    }
}

article.index.page {

    article.post {

        .container {

            @include width-container-tight;
        }

        header.post {

            text-align: center;

            .container {

                padding-top: 2rem;
                padding-bottom: 2rem;
            }

            h1 {

                margin-top: 0;
                margin-bottom: 0;
            }

            h2 {

                margin-top: 0;
                margin-bottom: 0;
            }

            time {

                display: block;
                margin-top: 1em;
            }
        }
    }

    footer.end.page {

        .container {

            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
}

header.main {

    padding: 2rem 0;
    text-align: center;

    .container {

        @include width-container-xwide;
    }

    h1 {

        margin-top: 0;
        margin-bottom: 0;
    }

    h2 {

        margin-top: .5em;
        margin-bottom: 0;
    }

    nav {

        ul {

            padding: 0;
            margin: 0;
        }

        li {

            margin: 0;
        }
    }

    @media (min-width: $width-media-medium) {

        h1,
        h2 {

            text-align: left;
        }

        section.title,
        nav.main {

            display: block;
            float: left;
            width: 50%;
        }

        nav {

            ul {

                float: right;
                margin-top: 1em;
            }

            li {

                display: block;
                float: left;
                margin-left: 1em;
            }
        }
    }

    @include pie-clearfix;
}

article.main {

    margin: 0;

    .container {

        @include width-container-tight;
    }

    section.page {

        padding: 2rem 0;

        header.section {

            padding: 2rem 0 0;
        }

        &.contact {

            text-align: center;
        }
    }
}

article.work {

    section.hero {

        .container {

            @include width-container-wide;
            padding-top: 4rem;
        }

        img {

            width: 100%;
        }

        .featured {

            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            margin-right: -1rem;
            margin-top: .4rem;

            div.square {

                width: 33%;
                height: 10px;
                padding-bottom: 33%;
                display: block;
                margin-right: 1rem;
                flex: 1 20%;
            }
        }
    }
}
