
$time-transition-brisk: 60ms;
$time-transition-lasting: 600ms;

header.main section.title {

    position: relative;

    a {

        @include hide-text;
        @include position-absolute-fill;
    }
}

article.main.frontpage {

    .container {

        @include width-container-xwide;
        padding: 0;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
    }

    article.thumb {

        position: relative;
        display: block;

        transition: all $time-transition-lasting;
        height: 25rem;
        z-index: 2;
        flex: 1 33.333%;
        min-width: 24rem;

        &:hover {

            transition: all $time-transition-brisk;

            header,
            span.action {

                transition: all $time-transition-brisk;
                opacity: 1;
            }


            &:after {

                background-color: hsla(0, 0, 0, .50);
                transition: all $time-transition-brisk;
            }
        }

        a.action {

            @include position-absolute-fill;
            @include hide-text;

            background-color: transparent;
            border: none;
            z-index: 5;
        }

        text-align: center;

        header {

            padding-top: 6rem;
            font-size: 1.4em;
            z-index: 4;
            position: relative;
            opacity: 0;
            transition: all $time-transition-lasting;
        }

        span.action {

            font-family: $font-secondary;
            font-size: .8em;
            z-index: 4;
            position: relative;
            opacity: 0;
            transition: all $time-transition-lasting;
            color: $color-primary-lighter;
        }

        &:after {

            content: "";
            @include position-absolute-fill;
            z-index: 3;
            background-color: transparent;
            transition: all $time-transition-lasting;
        }

        &:before {

            content: "";
            background-size: cover;
            background-repeat: no-repeat;
            background-color: transparent;
            background-position: center center;
            @include position-absolute-fill;
            z-index: 1;
        }

        &.cite {

            flex: 1 100%;

            &:before {

                background-position: center top;
                background-image: url(/images/banner-cite.jpg);
            }
        }

        &.redandsilver {

            &:before {

                background-image: url(/images/banner-redandsilver.jpg);
            }
        }

        &.sheltonmachines {

            &:before {

                background-image: url(/images/banner-sheltonmachines.jpg);
            }
        }

        &.xxxmints {

            &:before {

                background-image: url(/images/banner-xxxmints.jpg);
            }
        }

        &.benchinery {

            flex: 1 50%;

            &:before {

                background-image: url(/images/banner-benchinery.jpg);
            }
        }

        &.argentobrass {

            flex: 1 50%;

            &:before {

                background-image: url(/images/banner-argentobrass.jpg);
            }
        }

        &.countfestchorus {

            &:before {

                background-image: url(/images/banner-countfestchorus.jpg);
            }
        }
    }
}

section.hero {

    img {

        border: 1px solid $color-primary-grey;
    }
}
