article.main.page
  header.page
    .container
      h1 Contact
  section.page.content
    .container
      p For any work related enquiries, please email me at #[a(href='mailto:jgutteridge88@gmail.com') jgutteridge88@gmail.com].
