footer.main
  .container
    section.footer.notice
      p
      | #[a(href='https://github.com/jngutteridge') GitHub] / 
      | #[a(href='https://www.linkedin.com/in/jackgutteridge') LinkedIn] / 
      | #[a(href='https://twitter.com/jngutteridge') Twitter]
      | #[br] &copy; J. N. Gutteridge 2008-2016
