article.main.frontpage
  .container
    article.thumb.cite
      header.thumb
        h2 Cite
      section.content
        a(href='/work/cite/').action View Case Study
        span.action View Case Study
    article.thumb.redandsilver
      header.thumb
        h2 Red &amp; Silver
      section.content
        a(href='/work/redandsilver/').action View Case Study
        span.action View Case Study
    article.thumb.sheltonmachines
      header.thumb
        h2 Shelton Vision
      section.content
        a(href='/work/sheltonmachines/').action View Case Study
        span.action View Case Study
    article.thumb.xxxmints
      header.thumb
        h2 XXX Mints
      section.content
        a(href='/work/xxxmints/').action View Case Study
        span.action View Case Study
    article.thumb.benchinery
      header.thumb
        h2 Ben Chinery
      section.content
        a(href='/work/benchinery/').action View Case Study
        span.action View Case Study
    article.thumb.argentobrass
      header.thumb
        h2 Argento Brass
      section.content
        a(href='/work/argentobrass/').action View Case Study
        span.action View Case Study
    article.thumb.countfestchorus
      header.thumb
        h2 Countesthorpe Festival Chorus
      section.content
        a(href='/work/countfestchorus/').action View Case Study
        span.action View Case Study
