article.main.page.frontpage
  section.page.frontpage.contact
    header.section
      .container
        h2 Contact
    section.section.content
      .container
        p Email me at #[a(href='mailto:jack@kingbrick.co.uk') jack@kingbrick.co.uk]. #[br]Alternatively, contact me through one of my social profiles.
