article.main.page
  header.page
    .container
      h1 Skills
  section.page.content
    .container
      h3 Web development
      ul
        li Experience with procedural and OO languages such as C, Java and PHP.
        li Confidnet with HTML5, CSS3 and SASS.
        li Confident with task-runners such as Gulp and Grunt.
        li Experience with relational databases and SQL.
        li Experience working in a fast paced team.
        li Confident with WordPress integration including building themes and plugins.
        li Experience with multiple IDEs including Android Studio, Sublime Text, Eclipse and NetBeans.
        li Experience in Adobe Creative Suite software including PhotoShop, Illustrator, Flash and DreamWeaver.
        li Confident using Microsoft Office applications such as Word, Powerpoint, Excel and Outlook on both Mac and Windows.
        li Confident using and collaborating via cloud based Google services such as Gmail, Documents, Calendar and Drive.
        li Confident using Windows, Linux and Mac operating systems.
      h3 Hobbies and interests
      ul
        li New Media and Technology coordinator on the Countesthorpe Festival Chorus committee, responsible for websites and digital registration.
        li Manage, design and build websites for a variety of clients from musical groups to sports teams, photographers and families.
        li Regular performer in multiple rock bands playing electric and bass guitar and singing.
        li Bass singer in the New Leicester Youth Chorus performing a variety of music from classical to contemporary.
        li Volunteer assistant for the Blaby Victoria Tennis Club helping young children and teenagers every Saturday morning.
