article.main.page.work
  header.page
    .container
      h1 XXX Mints
  section.hero
    .container
      img(src='/images/work-xxxmints-header.jpg')
      .featured
        div.square: img(src='/images/work-xxxmints-featured1.jpg')
        div.square: img(src='/images/work-xxxmints-featured2.jpg')
        div.square: img(src='/images/work-xxxmints-featured3.jpg')
  section.page.content
    .container
      h3 Skills Used
      ul
        li HTML5 and CSS3 using SASS
        li Using Grulp as a task-runner
        li Fully content managed using WordPress
        li Responsive web design
        li Built with the team at Cite
      h3 Description
      p At my university placement with Cite DMS in Leicester, I was tasked with building the XXX Mints website. The design and branding were complex and challanging to respresent on the internet.
      p The design team at Cite provided me with the responsive designs for XXX Mints. The designs included views for mobile and tablet. The website was built on WordPress to allow the client to update the content.
      p Cite are a brilliant company with a passion for digital communication. Working with Cite I learned a lot, including how to work in a fast paced environment. The development team at Cite were incredible, helping me overcome issues with the development and helping me build this website.
      h3 Links
      ul
        li: a(href='http://www.xxxmints.co.uk/') XXX Mints - Website
        li: a(href='http://www.xxxmints.co.uk/about') XXX Mints - About Us
      h3 Other work
      ul
        li: a(href='/work/cite/') Cite
        li: a(href='/work/redandsilver/') Red &amp; Silver
        li: a(href='/work/sheltonmachines/') Shelton Vision
        li: a(href='/work/benchinery/') Ben Chinery
        li: a(href='/work/argentobrass/') Argento Brass
        li: a(href='/work/countfestchorus/') Countesthorpe Festival Chorus
