article.main.page.work
  header.page
    .container
      h1 Ben Chinery
  section.hero
    .container
      img(src='/images/work-benchinery-header.jpg')
      .featured
        div.square: img(src='/images/work-benchinery-featured1.jpg')
        div.square: img(src='/images/work-benchinery-featured2.jpg')
        div.square: img(src='/images/work-benchinery-featured3.jpg')
  section.page.content
    .container
      h3 Skills Used
      ul
        li HTML5 and CSS3 using SASS
        li Using Gulp as a task-runner
        li Fully content managed using WordPress
        li Responsive web design
      h3 Description
      p Whilst in secondary school I built a website for a friend who wanted to showcase her musicianship skills. It was through her that I met Ben, who also wanted a website. Ben Chinery is a trumpeter and brass teacher based in the North East.
      p I commissioned the designs from Red &amp; Silver, who also provided the stunning photography. Ben wanted to be able to update the website, and was familiar with the WordPress platform, so I built it using the WordPress CMS.
      p Working with Ben and Red &amp; Silver has been great. Using their photos is a joy and really makes any website pop. Good photography is essential to any form of media, and this is especially true for a digital presence.
      h3 Links
      ul
        li: a(href='http://benchinery.co.uk/') Ben Chinery - Website
        li: a(href='http://benchinery.co.uk/biography') Ben Chinery - Biography
      h3 Other work
      ul
        li: a(href='/work/cite/') Cite
        li: a(href='/work/redandsilver/') Red &amp; Silver
        li: a(href='/work/sheltonmachines/') Shelton Vision
        li: a(href='/work/xxxmints/') XXX Mints
        li: a(href='/work/argentobrass/') Argento Brass
        li: a(href='/work/countfestchorus/') Countesthorpe Festival Chorus
