article.main.page.work
  header.page
    .container
      h1 Cite
  section.hero
    .container
      img(src='/images/work-cite-header.jpg')
      .featured
        div.square: img(src='/images/work-cite-featured1.jpg')
        div.square: img(src='/images/work-cite-featured2.jpg')
        div.square: img(src='/images/work-cite-featured3.jpg')
  section.page.content
    .container
      h3 Skills Used
      ul
        li HTML5 and CSS3 using SASS
        li Using Grunt as a task-runner
        li Fully content managed using WordPress
        li Responsive web design
        li Built with the team at Cite
      h3 Description
      p At my university placement with Cite DMS in Leicester, my first task was to rebuild their website using the latest front-end technologies. As a pioneer in new web technologies, Cite wanted a website to showcase their best efforts, and needed a modern website to live up to their abilities.
      p The design team at Cite provided me with stunning responsive designs for their new vision of the company's home on the internet. The designs included views for mobile and tablet, understanding that in this age of the internet the share of views will come from a variety of form factors.
      p Cite are a brilliant company with a passion for digital communication. Working with Cite I learned a lot, including how to work in a fast paced environment. The development team at Cite were incredible, helping me overcome issues with the development and helping me build this large website.
      h3 Links
      ul
        li: a(href='https://www.cite.co.uk/') Cite - Website
        li: a(href='https://www.cite.co.uk/about/') Cite - About Us
      h3 Other work
      ul
        li: a(href='/work/redandsilver/') Red &amp; Silver
        li: a(href='/work/sheltonmachines/') Shelton Vision
        li: a(href='/work/xxxmints/') XXX Mints
        li: a(href='/work/benchinery/') Ben Chinery
        li: a(href='/work/argentobrass/') Argento Brass
        li: a(href='/work/countfestchorus/') Countesthorpe Festival Chorus
